/* Card Header */
.card__header {
  // border-bottom: 1px solid #EEE;
  box-shadow: inset 0 -1px 0 #EEE;
  padding: 16px 20px;
  color: #A5A7AA;
  font-size: 0.6875rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: normal;
  text-transform: uppercase;
}
