@import 'assets/css/reset';

body {
  background: #FAFAFA;
  color: #2C2C2C;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.125rem;
}